body{
	color: green;
	background: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Fvector-premium%2Ffondo-internet-cosas_1198344.htm&psig=AOvVaw3xOCRtwCI_Gdx6cPHTiH8w&ust=1678335779678000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCNj14ZW-y_0CFQAAAAAdAAAAABAD;
	font-size: 20pt;
	font-family: courier;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
	letter-spacing: 5px;
}
h1 {
	color: blue;
	text-align: left;
	font-size: 18pt;
}
h2{
	color: green;
	text-align: center;
	font-size: 16pt;
	font-family: verdana;
}
